{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>PhoenixBlog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'PhoenixBrog/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Pacifico"
    />
  </head>
  <body>
    <header>
      <h1>PhoenixBlog</h1>
      <div class="nav-menu-cover">
        <div class="nav-menu-inner">
          <ul class="nav-menu">
            <li><a href="#">ホーム</a></li>
            <li><a href="#">記事一覧</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </div>
      </div>
      <div class="hamburger-menu">
        <div class="hamburger" onclick="toggleMenu()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="menu" id="menu">
          <a href="#">ホーム</a>
          <a href="#">記事一覧</a>
          <a href="#">お問い合わせ</a>
        </div>
      </div>
    </header>

    <div class="box-bg-img">
      <main>
        <article>
          <header>
            <h2>{{ article.title}}</h2>
            <p>投稿日: {{ article.created_at }} | カテゴリー: サンプル</p>
          </header>
          <p>{{ article.body }}</p>
        </article>
      </main>
    </div>
    <footer>
      <p>© 2023 PhoenixBlog</p>
    </footer>
    <script src="{% static 'PhoenixBrog/script.js' %}"></script>
  </body>
</html>
