{% extends "PhoenixBlog/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'PhoenixBlog/css/list.css' %}" />
{% endblock extra_css %}
{% block content %}
  <h2>ブログ記事一覧</h2>
  <ul>
    {% for post in posts %}
      <li class="article-list">
        <div class="article-list-content">
          <h2>
            {% comment %}
        <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
            {% endcomment %}
            <a href="">{{ post.title }}</a>
          </h2>
          <p>{{ post.updated_at }}</p>
        </div>
        <div class="article-list-detail">
          <p>{{ post.body|truncatechars:67 }}</p>
        </div>
        <div class="article-list-photo">
          <img src="https://picsum.photos/150/200"
               alt="Article 1"
               height="140"
               width="180" />
        </div>
      </li>
    {% empty %}
      <p>記事がありません。</p>
    {% endfor %}
  </ul>
  {% if posts.has_other_pages %}
    <div class="pagination">
      <span class="step-links">
        {% if posts.number > 1 %}
          <a href="?page=1">« 最初</a>
          <a href="?page={{ posts.previous_page_number }}">前へ</a>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if i <= 5 %}
            {% if i == posts.number %}
              <span class="current-page">{{ i }}</span>
            {% else %}
              <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
          {% else %}
            {% if posts.number == posts.paginator.num_pages %}
              <span class="current-page">{{ posts.paginator.num_pages }}</span>
            {% else %}
              <a href="?page={{ posts.next_page_number }}">次へ</a>
              <a href="?page={{ posts.paginator.num_pages }}">最後 »</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </span>
    </div>
  {% endif %}
{% endblock content %}
